body {
    background-image: linear-gradient(37deg, rgb(32, 218, 233),rgb(40, 21, 236));
    height:900px;
}


.container {
    background-color: rgba(245, 242, 242, 0.959);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    height: 550px;
    width:500px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 50px;
    color: black;
    position:relative;
    top:60px;
    right:300px;
}
.p1{
    text-align: center;
    font-size: 40px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2{
    font-size: 40px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dropdown-box1{
    width:300px;
    height:50px;
    position: relative;
    bottom:30px;
    font-size: 20px;
}
.dropdown-box1:hover{
    width:400px;
    height:60px;
    transition:all,1s,linear,1s;
    border-color: #007BFF;
}
.to{
    position:relative;
    left:10px;
    bottom: 70px;
    font-size:50px ;

}
.dropdown-box2{
    width:300px;
    height:50px;
    position: relative;
    bottom:100px;
    font-size: 20px;
}
.dropdown-box2:hover{
    width:400px;
    height:60px;
    transition:all,1s,linear,1s;
    border-color: #007BFF;
}
.dropdown-box3{
    position:relative;
    bottom:60px;
    font-size: 20px;
}






.container:hover {
    background-color: #c5cccf;
    transform: scale(1.1);
    transition: all,1s,ease-in-out,1s;
    background-image: repeating-linear-gradient(249deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),repeating-linear-gradient(307deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),linear-gradient(90deg, hsl(191,85%,78%),hsl(242.429,85%,78%),hsl(293.857,85%,78%),hsl(345.286,85%,78%),hsl(36.714,85%,78%),hsl(88.143,85%,78%),hsl(139.571,85%,78%));
}

.container {
    background-color: rgba(233, 228, 228, 0.477);
    border-color: #142245;
    transform: scale(1.05);
}




h1 {
    color: #090909;
}

.input-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
    bottom:20px;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: greenyellow;
    background-image: radial-gradient(circle at 90% 24%, rgba(209, 209, 209,0.04) 0%, rgba(209, 209, 209,0.04) 50%,rgba(160, 160, 160,0.04) 50%, rgba(160, 160, 160,0.04) 100%),radial-gradient(circle at 91% 63%, rgba(45, 45, 45,0.04) 0%, rgba(45, 45, 45,0.04) 50%,rgba(87, 87, 87,0.04) 50%, rgba(87, 87, 87,0.04) 100%),radial-gradient(circle at 17% 2%, rgba(124, 124, 124,0.04) 0%, rgba(124, 124, 124,0.04) 50%,rgba(117, 117, 117,0.04) 50%, rgba(117, 117, 117,0.04) 100%),linear-gradient(88deg, rgb(33, 20, 105),rgb(1, 15, 13));
    height:630px;
    width:500px;
    position: relative;
    left:850px;
    bottom:570px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
}
.result:hover{
    height:660px;
    width:550px;
    transition: all,1s,ease-in-out,1s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .container {
        width: 100%;
        /* Full width on smaller screens */
    }

}

.dropdown-box {
    height: 30px;
    border-radius: 3px;
}

.no-display{
    display: none;
}
#dark,#light{
    cursor: pointer;
}
