body {
    background-image: url(../54700.jpg);
    background-repeat: no-repeat;
    /* Prevent image repetition */
    background-size: cover;
    /* Cover the entire element */
    background-position:  center;
    /* Center both horizontally and vertically */
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #a8aaec;
    text-align: center;
    position: relative;
    background-image: -moz-repeating-radial-gradient();
}


.container {
    background-color: rgba(245, 242, 242, 0.959);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    height: 250px;
    max-width: 400px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 50px;
    color: black;
}


.container:hover {
    background-color: #c5cccf;
    transform: scale(1.1);
}

.container {
    background-color: rgba(233, 228, 228, 0.477);
    border-color: #142245;
    transform: scale(1.05);
}



h1 {
    color: #090909;
}

.input-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(7, 0, 7);
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .container {
        width: 100%;
        /* Full width on smaller screens */
    }

}

.dropdown-box {
    height: 30px;
    border-radius: 3px;
}

.no-display{
    display: none;
}
#dark,#light{
    cursor: pointer;
}